.button_common {
  background-color: #292c33;
  color: #fff;
  border: 1px solid #f8f8f8;
  padding: 12px 20px;
  margin-right: 5px;
  outline: none;
  cursor: pointer;
  &.green {
    color: #64ca57;
    border: 1px solid #64ca57;
  }
  &:hover {
    opacity: 0.65;
  }
  &.red {
    color: #ed655a;
    border: 1px solid #ed655a;
  }
}

.buttonBox {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 20px;
  .textLength {
    color: #f8f8f8;
    &.red {
      color: #ed655a;
    }
  }
  .warnMessage {
    color: #ed655a;
  }
}
