.button_common {
  background-color: #292c33;
  color: #fff;
  border: 1px solid #f8f8f8;
  padding: 12px 20px;
  margin-right: 5px;
  outline: none;
  cursor: pointer;
  &.copied {
    color: #64ca57;
    border: 1px solid #64ca57;
  }
  &:hover {
    color: rgba(255, 255, 255, 0.6);
  }
}

.buttonBox {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 20px;
}
